.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /*background-color: #ffffff;*/
  /*box-shadow: 0 2px 4px rgba(0,0,0,0.1);*/
  font-family: sans-serif;
}

.btn-inicio {
  color: #800000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #800000; /* Color referencial (puedes ajustarlo al de la UNI) */
}


.home-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  font-family: sans-serif;
  background: #fdfbfd;

  /* --- AÑADE ESTO PARA CENTRAR --- */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 100%; /* Para que el max-width funcione bien en móviles */
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-login {
  background-color: #e9c110;
  color: white;
}

.btn-login:disabled {
  background-color: #e9d374;
  cursor: not-allowed;
}

.register-section {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #eee;
  text-align: center;
}

.btn-register {
  background-color: #00b395;
  color: white;
  margin-top: 0.5rem;
}

.error {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.alerta-error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #f5c6cb;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
}