<header class="navbar">
  <div class="logo"><a routerLink="/inicio" class="btn-inicio">S.A. UNI</a></div>
  <nav class="nav-links">
    <!-- Enlaza al HomeComponent que ahora es /login -->
    <a routerLink="/login" class="btn-login-outline">Iniciar Sesión</a>
    <a routerLink="/registro" class="btn-register-filled">Registrarse</a>
  </nav>
</header>

<main class="hero-section">
  <div class="hero-content">
    <h1>Sistema de Abastecimiento UNI</h1>
    <p>Bienvenido al sistema integrado para el control, gestión y monitoreo de abastecimiento de la Universidad Nacional de Ingeniería.</p>
  </div>
  <div class="hero-images">
    <img src="images/image1.jpg" alt="Abastecimiento 1" class="img-clean">
    <img src="images/image2.jpg" alt="Abastecimiento 2" class="img-clean">
  </div>
</main>
